.divSearch{
  display: flex;
  margin-top:0.5rem;
  align-items: center;

}
.divSearch span{
  margin-right: 0.4rem;
  margin-left: 1.2rem;
  font-size: 1.75rem;
}

.divButtons {
  display: flex;
  justify-content: center;
  
}

@media(max-width:768px){
  .divSearch{  
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap:1.5rem;
    margin-bottom:1.5rem;
  }
  .divSearch span{
    margin-right: 0rem;
    margin-left: 0rem;
    font-size: 1.4rem;
  }

  
}