
.topics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.35rem;
  font-weight: 800;
}

.topics > p {
  width: 15%;
  align-items: center;
  text-align: center; 
  word-break: break-word;
}
.divSearch {
margin: 1.5rem 0rem;

}
.divSearch span{
  font-size:1.5rem;
}