.button{
    border:none;
    border-radius:30px;
    padding: 0.25rem;
    color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    margin-top:2.5rem;
}


.Red{
    background-color:var(--red);
}
.Red:hover{
    background-color:var(--red-light);
}
.Green{
    background-color:var(--green);
}
.Green:hover{
    background-color:var(--green-light);
    transition: 0.2s ease-in;
}
.Big{
    font-size:2.25rem;
    width:16rem;
}

.Small{
    font-size:0.8rem;
    font-weight: 500;
    width:5rem;
    height:2rem;    
}
.ExtraBig{
    margin-top: 3rem;
    width:24rem;
    font-size:2.25rem;
}