.Input {
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-weight: light;
  color: black;
}

.Big {
  height: 3rem;
  width: 20rem;
  margin: 2rem;
  padding-left: 3.25rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  outline: 2.5px solid #cacaca;
}
.Small {
  
}
.Medium {
  height: 2.5rem;
  width: 20rem;
  
  padding-left: 3.25rem;
  padding-right: 1rem;
  font-size: 1.3rem;
  outline: 2.5px solid #cacaca;
}
.widthMedium {
  width: 15rem;
}
.Input::placeholder {
  color: #949090;
}
.Input:focus {
  outline-color: var(--green-light);
  transition: 0.2s ease-in;
}

.iconBig {
  height: 1.75rem;
  position: absolute;
  margin-left: 3rem;
  margin-top: 2.6rem;
}
.iconMedium {
  height: 1.5rem;
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.55rem;
}

.NoIcon {
  padding-left: 1.25rem;
  padding-right: 1rem;
}

@media(max-width:768px){
  .Big {
    height: 3rem;
    width: 18rem;
    margin: 2rem 0rem 2rem 0rem;
    padding-left: 3.25rem;
    padding-right: 1rem;
    font-size: 1.5rem;
  }
  .iconBig {
    height: 1.75rem;
    position: absolute;
    margin-left: 1rem;
    margin-top: 2.6rem;
  }
  .Medium {
    height: 2.5rem;
    width: 15rem;
    
    padding-left: 3.25rem;
    padding-right: 1rem;
    font-size: 1.3rem;
    outline: 2.5px solid #cacaca;
  }
}

@media (max-width: 425px) {
  
}

@media (max-width: 320px) {
  .TextArea {
    width: 18rem;
  }
}