
.infos {
  display: flex;
  font-size: 1.3rem;
  justify-content:space-between;
  width: 45rem;
  margin-left:4rem;
  margin-top:1.1rem;
}
.infosContent{
  display: flex;
  flex-direction: column;
 justify-content: center;
 width: 20rem;
 
}
.infos p {
  width: 20rem;
  margin-right: 9rem;
}
.infosContent span{
  margin-left: 1rem;
  margin-bottom: 0.4rem;
 
}

@media (max-width: 768px) {
  .infos {
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-left:0rem;
    margin-top:0rem;
  }
  
  .infosContent span{
    margin-left: 1rem;
    margin-bottom: 0.4rem;
   font-size: 1.2rem;
  }
  .infosContent{
   width: auto;
   margin-top: 1.5rem;
  }
}