.divSearch{
  display: flex;
  margin-top:0.5rem;
  
  
}
.divSearch span{
  margin-right: 0.4rem;
  font-size: 1.75rem;
}

.infosResult{
  width:17.5rem;
  display: flex;
  justify-content:center;
  align-items : center;
  text-align: center;
  margin-top:3rem;
  font-size: 1.2rem;
  font-weight: bold;
  flex-direction:column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius:30px;
  border: 0.5px var(--green-light) solid;
  padding: 1.5rem;
}
.infosResult span{
  
  margin-top:0.5rem;
  
}
.infosResult img{
  height: 5rem;
  margin-top:0.5rem;
  
}
@media (max-width: 1024px) {
  .infosResult{
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .divSearch{
   flex-direction: column;
    margin-top:0.5rem;
    align-items: center;
    
  }
  .divSearch span{
    
    font-size: 1.5rem;
    margin-bottom:0.5rem;
  }
  .infosResult{
    width:17.5rem;
    display: flex;
    margin-top:3rem;
    font-size: 1.1rem;
  }
  .infosResult img{
    height: 3.5rem;
    margin-top:0.5rem;
    
  }
}