.topics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.35rem;
  font-weight: 800;
}


.divForButton{
  display: flex;
  width:100%;
  flex-direction: row;
  align-items: center;
}
.divCards{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin: 2rem 6rem;
}

.topicsWithButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right:5rem;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.35rem;
  font-weight: 800;
}
.topicsWithButton > p{
  width:15%;
  align-items:center;
  text-align: center;
  word-break: break-word;
}
@media (max-width: 768px) {
  .divCards {
    justify-content: space-around;
    margin: 0rem 0rem 0rem 0rem;
  }
}