.Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: 30px;
  padding: 0.25rem;
  color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  margin-top: 2.5rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
}
.Card span {
  font-size: 1.9rem;
  margin-top: 0.5rem;
}
.Card div {
  margin-top: 2rem;
}
.Medium {
  height: 15rem;
  width: 20rem;
}

.Red {
  background: rgb(109, 8, 8);
  background: linear-gradient(90deg, rgba(109, 8, 8, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(109, 8, 8, 1) 100%);
}

.Green {
  background: rgb(1, 101, 60);
  background: linear-gradient(90deg, rgba(1, 101, 60, 1) 0%, rgba(51, 164, 87, 1) 50%, rgba(1, 101, 60, 1) 100%);
}

.Big {
  width: 16rem;
}

.Small {
  font-size: 0.8rem;
  font-weight: 500;
  width: 5rem;
  height: 2rem;
}

.divContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
}

.divDates {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}


@media (max-width: 1440px) {
  .Medium {
    width: 18rem;
  }
}
@media (max-width: 768px) {
  .icon {
    height: 5rem;
  }
  .divDates {
    font-size: 1.3rem;
  }
  .Medium {
    height: 9rem;
    width: 12rem;
  }
  .Card span {
    font-size: 1.15rem;
    margin-top: 0.5rem;
  }
  .divContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
  }
  .Card div {
    margin-top: 1rem;
  }
}
