.container {
  padding: 3rem;
  margin: 3rem;
  display: flex;
  background-color:white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding-bottom:4rem;
}
.loading {
  align-self:center;
  justify-self: center;
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: var(--green-light);
  height: 4rem;
  width: 4rem;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}


.titleCenter {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}


hr {
  margin-bottom: 1rem;
  width: 30%;
  height: 0.1rem;
  background-color: #c0c0c0;
  margin-top: 0.5rem;
}

@media(max-width:768px){
  .container {
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding-bottom:4rem;
  }
  .titleCenter {
    font-size: 1.7rem;
    font-weight: 500;
    
  }
  hr {
    width: 60%;  
  }
}
@media(max-width:425px){
  hr {
    width: 90%;
  }
}