
.loading {
  align-self:center;
  justify-self: center;
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: var(--green-light);
  height: 4rem;
  width: 4rem;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}


